.content {
 width: 264px;
height: auto;
font-style: normal;
font-size: 16px;
line-height: 140%;
 
text-align: center;

color: #000000;

@media screen and (max-width: 48rem) {
   color: #fff;
 }
}

@media only screen and (min-width:48rem) {
    .contactCard {
       width: 311.41px;
       height: 315.99px;
       background: #FFFFFF;
        box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.062);
        border-radius: 5px; 
        transform: translateY(-120px);
     }
}
 